In [1]:
QUANDLE_API_KEY = "2jWcwdZcAecTBtixj8Wz"

In [2]:
import requests
import time
import pandas as pd

In [3]:
gold = pd.read_csv("https://www.quandl.com/api/v3/datasets/LBMA/GOLD.csv?api_key=%s" % QUANDLE_API_KEY, 
                  index_col=0)

In [4]:
crude_oil = pd.read_csv("https://www.quandl.com/api/v3/datasets/CHRIS/CME_CL1.csv?api_key=%s" % QUANDLE_API_KEY, 
                       index_col=0)

In [5]:
gas = pd.read_csv("https://www.quandl.com/api/v3/datasets/FRED/GASALLCOVW.csv?api_key=%s" % QUANDLE_API_KEY,
                 index_col=0)

In [6]:
bit_cap = pd.read_csv("https://www.quandl.com/api/v3/datasets/BCHAIN/MKTCP.csv?api_key=%s" % QUANDLE_API_KEY, 
                     index_col=0)

In [7]:
futures_2 = pd.read_csv("https://www.quandl.com/api/v3/datasets/CHRIS/CME_TU2.csv?api_key=%s" % QUANDLE_API_KEY,
                       index_col=0)

In [8]:
futures_10 = pd.read_csv("https://www.quandl.com/api/v3/datasets/CHRIS/CME_TY2.csv?api_key=%s" % QUANDLE_API_KEY,
                        index_col=0)

In [9]:
predictors = gold[["USD (AM)"]].merge(
    crude_oil[["Settle"]], 
    how="outer", 
    right_index = True, 
    left_index = True
).rename(index=str, columns={"USD (AM)": "gold", "Settle": "crude_oil"})

predictors.head()

             gold  crude_oil
Date
1968-01-02  35.18        NaN
1968-01-03  35.16        NaN
1968-01-04  35.14        NaN
1968-01-05  35.14        NaN
1968-01-08  35.14        NaN

In [10]:
predictors = predictors.merge(
    gas, 
    how="outer", 
    right_index = True, 
    left_index = True
).rename(index=str, columns={"Value": "gas"})

# predictors.head()

In [11]:
predictors = predictors.merge(
    bit_cap, 
    how="outer", 
    right_index = True, 
    left_index = True
).rename(index=str, columns={"Value": "bit_cap"})

# predictors.head()

In [12]:
predictors = predictors.merge(
    futures_2[["Settle"]], 
    how="outer", 
    right_index = True, 
    left_index = True
).rename(index=str, columns={"Settle": "futures_2"})

In [13]:
predictors = predictors.merge(
    futures_10[["Settle"]], 
    how="outer", 
    right_index = True, 
    left_index = True
).rename(index=str, columns={"Settle": "futures_10"})

In [14]:
predictors = predictors[predictors.index > "1985"]
predictors

               gold  crude_oil    gas       bit_cap   futures_2  futures_10
Date
1985-01-02   306.25      25.92    NaN           NaN         NaN   78.625000
1985-01-03   299.50      25.84    NaN           NaN         NaN   79.062500
1985-01-04   303.45      25.18    NaN           NaN         NaN   78.843750
1985-01-07   296.75      25.56    NaN           NaN         NaN   79.843750
1985-01-08   304.40      25.48    NaN           NaN         NaN   80.000000
1985-01-09   298.35      25.43    NaN           NaN         NaN   79.937500
1985-01-10   304.00      25.76    NaN           NaN         NaN   79.875000
1985-01-11   304.00      25.77    NaN           NaN         NaN   79.312500
1985-01-14   301.25      26.12    NaN           NaN         NaN   79.218750
1985-01-15   302.50      25.91    NaN           NaN         NaN   79.593750
1985-01-16   302.45      25.62    NaN           NaN         NaN   79.656250
1985-01-17   305.80      25.69    NaN           NaN         NaN   79.718750
1985-01-18   306.90      25.68    NaN           NaN         NaN   80.187500
1985-01-21   307.00      25.97    NaN           NaN         NaN   80.093750
1985-01-22   306.85      25.55    NaN           NaN         NaN   80.906250
1985-01-23   302.15      25.38    NaN           NaN         NaN   81.031250
1985-01-24   301.90      25.28    NaN           NaN         NaN   81.906250
1985-01-25   299.25      25.25    NaN           NaN         NaN   81.593750
1985-01-28   298.60      25.23    NaN           NaN         NaN   81.531250
1985-01-29   303.50      25.38    NaN           NaN         NaN   81.468750
1985-01-30   303.00      25.67    NaN           NaN         NaN   81.468750
1985-01-31   304.90      26.41    NaN           NaN         NaN   81.218750
1985-02-01   304.80      26.74    NaN           NaN         NaN   80.531250
1985-02-04   301.25      26.52    NaN           NaN         NaN   80.500000
1985-02-05   301.75      26.78    NaN           NaN         NaN   80.687500
1985-02-06   303.45      27.07    NaN           NaN         NaN   80.281250
1985-02-07   302.50      27.21    NaN           NaN         NaN   80.093750
1985-02-08   300.60      27.59    NaN           NaN         NaN   80.500000
1985-02-11   300.00      28.04    NaN           NaN         NaN   80.250000
1985-02-12   303.45      27.36    NaN           NaN         NaN   80.250000
...             ...        ...    ...           ...         ...         ...
2018-05-05      NaN        NaN    NaN  1.652324e+11         NaN         NaN
2018-05-06      NaN        NaN    NaN  1.668274e+11         NaN         NaN
2018-05-07      NaN      70.73  2.851  1.638970e+11  105.812500  119.359375
2018-05-08  1310.05      69.06    NaN  1.590735e+11  105.773438  119.187500
2018-05-09  1306.85      71.14    NaN  1.570966e+11  105.734375  118.921875
2018-05-10  1314.80      71.36    NaN  1.587058e+11  105.710938  119.046875
2018-05-11  1324.80      70.70    NaN  1.549683e+11  105.726562  119.078125
2018-05-12      NaN        NaN    NaN  1.442091e+11         NaN         NaN
2018-05-13      NaN        NaN    NaN  1.444915e+11         NaN         NaN
2018-05-14  1320.70      70.96  2.846  1.486512e+11  105.718750  118.906250
2018-05-15  1310.05      71.31    NaN  1.473776e+11  105.648438  118.218750
2018-05-16  1291.75      71.49    NaN  1.449985e+11  105.632812  118.156250
2018-05-17  1288.85      71.49    NaN  1.421083e+11  105.656250  118.125000
2018-05-18  1287.20      71.28    NaN  1.381248e+11  105.703125  118.484375
2018-05-19      NaN        NaN    NaN  1.404223e+11         NaN         NaN
2018-05-20      NaN        NaN    NaN  1.401524e+11         NaN         NaN
2018-05-21  1285.85      72.24  2.893  1.450100e+11  105.687500  118.468750
2018-05-22  1293.90      72.13    NaN  1.429495e+11  105.687500  118.515625
2018-05-23  1294.00      71.84    NaN  1.366576e+11  105.796875  119.062500
2018-05-24  1296.35      70.71    NaN  1.288331e+11  105.851562  119.171875
2018-05-25  1303.95      67.88    NaN  1.290249e+11  105.921875  119.531250
2018-05-26      NaN        NaN    NaN  1.269786e+11         NaN         NaN
2018-05-27      NaN        NaN    NaN  1.252483e+11         NaN         NaN
2018-05-28      NaN        NaN  2.937  1.255861e+11         NaN         NaN
2018-05-29  1302.05      66.73    NaN  1.216544e+11  106.328125  120.937500
2018-05-30  1298.60      68.21    NaN  1.272862e+11  106.132812  120.296875
2018-05-31  1303.50      67.04    NaN  1.260314e+11  106.117188  120.437500
2018-06-01  1299.15      65.81    NaN  1.278569e+11  105.984375  119.843750
2018-06-02      NaN        NaN    NaN  1.286185e+11         NaN         NaN
2018-06-03      NaN        NaN    NaN  1.305107e+11         NaN         NaN

[9640 rows x 6 columns]

In [15]:
import pickle
pickle.dump(predictors, open("predictors.pkl", "wb"))

In [21]:
all_stocks = pd.read_csv("data/all_stocks_5yr.csv")
all_stocks.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [37]:
daily_stock = all_stocks[["date", "Name", "close"]].set_index(["date", "Name"]).unstack(level=1)
daily_stock = daily_stock[["close"][0]]

In [38]:
daily_stock.head()

Name,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
date,,,,,,,,,,,,,,,,,,,,,
2013-02-08,45.08,14.75,78.90,67.8542,36.25,46.89,34.41,73.31,39.12,45.70,...,28.24,37.51,88.61,42.87,31.84,27.09,65.30,75.85,24.14,33.05
2013-02-11,44.60,14.46,78.39,68.5614,35.85,46.76,34.26,73.07,38.64,46.08,...,28.31,37.46,88.28,42.84,31.96,27.46,64.55,75.65,24.21,33.26
2013-02-12,44.62,14.27,78.60,66.8428,35.42,46.96,34.30,73.37,38.89,46.27,...,28.41,37.58,88.46,42.87,31.84,27.95,64.75,75.44,24.49,33.74
2013-02-13,44.75,14.66,78.97,66.7156,35.27,46.64,34.46,73.56,38.81,46.26,...,28.42,37.80,88.67,43.08,32.00,28.26,64.41,76.00,24.74,33.55
2013-02-14,44.58,13.99,78.84,66.6556,36.57,46.77,34.70,73.13,38.61,46.54,...,28.22,38.44,88.52,42.91,32.12,28.47,63.89,76.34,24.63,33.27

In [39]:
import pickle
pickle.dump(daily_stock, open("daily_stock.pkl", "wb"))