In [1]:
QUANDLE_API_KEY = "2jWcwdZcAecTBtixj8Wz"

## Using the Quandle API

#### This segments uses the api to pull a couple commodities and join them by date

In [2]:
import requests
import time
import pandas as pd

In [3]:
gold = pd.read_csv("https://www.quandl.com/api/v3/datasets/LBMA/GOLD.csv?api_key=%s" % QUANDLE_API_KEY, 
                  index_col=0)

In [4]:
crude_oil = pd.read_csv("https://www.quandl.com/api/v3/datasets/CHRIS/CME_CL1.csv?api_key=%s" % QUANDLE_API_KEY, 
                       index_col=0)

In [5]:
gas = pd.read_csv("https://www.quandl.com/api/v3/datasets/FRED/GASALLCOVW.csv?api_key=%s" % QUANDLE_API_KEY,
                 index_col=0)

In [6]:
bit_cap = pd.read_csv("https://www.quandl.com/api/v3/datasets/BCHAIN/MKTCP.csv?api_key=%s" % QUANDLE_API_KEY, 
                     index_col=0)

In [7]:
futures_2 = pd.read_csv("https://www.quandl.com/api/v3/datasets/CHRIS/CME_TU2.csv?api_key=%s" % QUANDLE_API_KEY,
                       index_col=0)

In [8]:
futures_10 = pd.read_csv("https://www.quandl.com/api/v3/datasets/CHRIS/CME_TY2.csv?api_key=%s" % QUANDLE_API_KEY,
                        index_col=0)

In [9]:
aapl = pd.read_csv("https://www.quandl.com/api/v3/datatables/SHARADAR/SF1.csv?ticker=AAPL&qopts.columns=ticker,dimension,datekey,revenue&api_key=%s" % QUANDLE_API_KEY)

In [10]:
predictors = gold[["USD (AM)"]].merge(
    crude_oil[["Settle"]], 
    how="outer", 
    right_index = True, 
    left_index = True
).rename(index=str, columns={"USD (AM)": "gold", "Settle": "crude_oil"})

# predictors.head()

In [11]:
predictors = predictors.merge(
    gas, 
    how="outer", 
    right_index = True, 
    left_index = True
).rename(index=str, columns={"Value": "gas"})

# predictors.head()

In [12]:
predictors = predictors.merge(
    bit_cap, 
    how="outer", 
    right_index = True, 
    left_index = True
).rename(index=str, columns={"Value": "bit_cap"})

# predictors.head()

In [13]:
predictors = predictors.merge(
    futures_2[["Settle"]], 
    how="outer", 
    right_index = True, 
    left_index = True
).rename(index=str, columns={"Settle": "futures_2"})

In [14]:
predictors = predictors.merge(
    futures_10[["Settle"]], 
    how="outer", 
    right_index = True, 
    left_index = True
).rename(index=str, columns={"Settle": "futures_10"})

In [15]:
predictors = predictors[predictors.index > "1985"]
predictors.head()

              gold  crude_oil  gas  bit_cap  futures_2  futures_10
Date
1985-01-02  306.25      25.92  NaN      NaN        NaN    78.62500
1985-01-03  299.50      25.84  NaN      NaN        NaN    79.06250
1985-01-04  303.45      25.18  NaN      NaN        NaN    78.84375
1985-01-07  296.75      25.56  NaN      NaN        NaN    79.84375
1985-01-08  304.40      25.48  NaN      NaN        NaN    80.00000

In [16]:
import pickle
pickle.dump(predictors, open("predictors.pkl", "wb"))

## Using the S&P 500 data set from Quandle

#### This segment grabs a relvent feature from the CSV for all tickers

In [17]:
all_stocks = pd.read_csv("data/all_stocks_5yr.csv")
all_stocks.head()

         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

In [18]:
daily_stock = all_stocks[["date", "Name", "close"]].set_index(["date", "Name"]).unstack(level=1)
daily_stock = daily_stock[["close"][0]]

In [19]:
daily_stock.head()

Name,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
date,,,,,,,,,,,,,,,,,,,,,
2013-02-08,45.08,14.75,78.90,67.8542,36.25,46.89,34.41,73.31,39.12,45.70,...,28.24,37.51,88.61,42.87,31.84,27.09,65.30,75.85,24.14,33.05
2013-02-11,44.60,14.46,78.39,68.5614,35.85,46.76,34.26,73.07,38.64,46.08,...,28.31,37.46,88.28,42.84,31.96,27.46,64.55,75.65,24.21,33.26
2013-02-12,44.62,14.27,78.60,66.8428,35.42,46.96,34.30,73.37,38.89,46.27,...,28.41,37.58,88.46,42.87,31.84,27.95,64.75,75.44,24.49,33.74
2013-02-13,44.75,14.66,78.97,66.7156,35.27,46.64,34.46,73.56,38.81,46.26,...,28.42,37.80,88.67,43.08,32.00,28.26,64.41,76.00,24.74,33.55
2013-02-14,44.58,13.99,78.84,66.6556,36.57,46.77,34.70,73.13,38.61,46.54,...,28.22,38.44,88.52,42.91,32.12,28.47,63.89,76.34,24.63,33.27

In [20]:
import pickle
pickle.dump(daily_stock, open("daily_stock.pkl", "wb"))

## This segment gets Trend Data From google

#### This is the tricky part

In [21]:
import requests
import json
# g_trends = requests.get("https://trends.google.com/trends/explore?date=now%201-H&geo=US&q=stocks")

In [22]:
cookies = dict(filter(
            lambda i: i[0] == 'NID',
            requests.get('https://trends.google.com').cookies.items()
        ))
cookies

{'NID': '131=HfVCmzrmhBtpEdDA1NLNmK4-PMsyLQze6LPEY7mbEd6VYBfuTJPG2Kx6dNclL3Xgnr4U-QCVHhA1yiHrM6gb9ADQazZax2AS4Xjyi0vxQ4RFNGiftcilUZKYrQv_Ud_0'}

In [23]:
response = requests.get("https://trends.google.com/trends/explore?date=now%201-H&geo=US&q=stocks",
                       cookies=cookies)
response

In [24]:
content = response.text
response.text[:300]

'<!doctype html><html itemscope itemtype="https://schema.org/WebPage" dir="ltr"><head><meta name="google-site-verification" content="-uo2JByp3-hxDA1ZgvM3dP8BE1_qDDddCm_st_w41P8"/><title>stocks - Google Trends</title><link rel="icon" href="https://ssl.gstatic.com/trends_nrtr/1435_RC12/favicon.ico" typ'

In [25]:
stocks = "https://trends.google.com/trends/api/widgetdata/multiline/csv?req=%7B%22time%22%3A%222018-06-06T17%5C%5C%3A48%5C%5C%3A15%202018-06-06T18%5C%5C%3A48%5C%5C%3A15%22%2C%22resolution%22%3A%22MINUTE%22%2C%22locale%22%3A%22en-US%22%2C%22comparisonItem%22%3A%5B%7B%22geo%22%3A%7B%22country%22%3A%22US%22%7D%2C%22complexKeywordsRestriction%22%3A%7B%22keyword%22%3A%5B%7B%22type%22%3A%22BROAD%22%2C%22value%22%3A%22stocks%22%7D%5D%7D%7D%5D%2C%22requestOptions%22%3A%7B%22property%22%3A%22%22%2C%22backend%22%3A%22CM%22%2C%22category%22%3A0%7D%7D&token=APP6_UEAAAAAWxl97_ylQR5Jh6KSFpspCUYtxNi3nSbR&tz=420"

In [26]:
pd.read_csv(stocks).head()

                          Category: All categories
Time                       stocks: (United States)
2018-06-06T10:49:00-07:00                       82
2018-06-06T10:50:00-07:00                       87
2018-06-06T10:51:00-07:00                       95
2018-06-06T10:52:00-07:00                       81

In [27]:
import urllib.parse
query = urllib.parse.parse_qs(
    urllib.parse.urlparse(stocks).query
)

query

{'req': ['{"time":"2018-06-06T17\\\\:48\\\\:15 2018-06-06T18\\\\:48\\\\:15","resolution":"MINUTE","locale":"en-US","comparisonItem":[{"geo":{"country":"US"},"complexKeywordsRestriction":{"keyword":[{"type":"BROAD","value":"stocks"}]}}],"requestOptions":{"property":"","backend":"CM","category":0}}'],
 'token': ['APP6_UEAAAAAWxl97_ylQR5Jh6KSFpspCUYtxNi3nSbR'],
 'tz': ['420']}

In [28]:
json_req = json.loads(query['req'][0])
json_req

{'time': '2018-06-06T17\\:48\\:15 2018-06-06T18\\:48\\:15',
 'resolution': 'MINUTE',
 'locale': 'en-US',
 'comparisonItem': [{'geo': {'country': 'US'},
   'complexKeywordsRestriction': {'keyword': [{'type': 'BROAD',
      'value': 'stocks'}]}}],
 'requestOptions': {'property': '', 'backend': 'CM', 'category': 0}}

In [29]:
json_req['comparisonItem'][0]['complexKeywordsRestriction']['keyword'][0]['value'] = "banana"

json_req

{'time': '2018-06-06T17\\:48\\:15 2018-06-06T18\\:48\\:15',
 'resolution': 'MINUTE',
 'locale': 'en-US',
 'comparisonItem': [{'geo': {'country': 'US'},
   'complexKeywordsRestriction': {'keyword': [{'type': 'BROAD',
      'value': 'banana'}]}}],
 'requestOptions': {'property': '', 'backend': 'CM', 'category': 0}}

In [30]:
query["req"][0] = json_req
query

{'req': [{'time': '2018-06-06T17\\:48\\:15 2018-06-06T18\\:48\\:15',
   'resolution': 'MINUTE',
   'locale': 'en-US',
   'comparisonItem': [{'geo': {'country': 'US'},
     'complexKeywordsRestriction': {'keyword': [{'type': 'BROAD',
        'value': 'banana'}]}}],
   'requestOptions': {'property': '', 'backend': 'CM', 'category': 0}}],
 'token': ['APP6_UEAAAAAWxl97_ylQR5Jh6KSFpspCUYtxNi3nSbR'],
 'tz': ['420']}

In [31]:
new_query = urllib.parse.urlencode(query)
new_query

'req=%5B%7B%27time%27%3A+%272018-06-06T17%5C%5C%3A48%5C%5C%3A15+2018-06-06T18%5C%5C%3A48%5C%5C%3A15%27%2C+%27resolution%27%3A+%27MINUTE%27%2C+%27locale%27%3A+%27en-US%27%2C+%27comparisonItem%27%3A+%5B%7B%27geo%27%3A+%7B%27country%27%3A+%27US%27%7D%2C+%27complexKeywordsRestriction%27%3A+%7B%27keyword%27%3A+%5B%7B%27type%27%3A+%27BROAD%27%2C+%27value%27%3A+%27banana%27%7D%5D%7D%7D%5D%2C+%27requestOptions%27%3A+%7B%27property%27%3A+%27%27%2C+%27backend%27%3A+%27CM%27%2C+%27category%27%3A+0%7D%7D%5D&token=%5B%27APP6_UEAAAAAWxl97_ylQR5Jh6KSFpspCUYtxNi3nSbR%27%5D&tz=%5B%27420%27%5D'

In [32]:
requests.get(stocks.replace("stocks", "banana"))

In the page the file download is controlled by this function:

```
d.exportAsCSV = function(a, b, c) {
    a = encodeURIComponent(JSON.stringify(a));
    c = "/trends/api/widgetdata" + ("/" + this.convertWidgetTypeToApiName_(c) + "/csv");
    c = c + ("?req=" + a + "&token=" + b) + ("&tz=" + this.configService_.userTimezoneOffset);
    this.downloadCsvFile_(c)
}
```

So we need to figure out how to get a proper token! Grrr...

In [33]:
stocks = "https://trends.google.com/trends/api/widgetdata/multiline/csv?req=%7B%22time%22%3A%222018-06-06T18%5C%5C%3A58%5C%5C%3A33%202018-06-06T19%5C%5C%3A58%5C%5C%3A33%22%2C%22resolution%22%3A%22MINUTE%22%2C%22locale%22%3A%22en-US%22%2C%22comparisonItem%22%3A%5B%7B%22geo%22%3A%7B%22country%22%3A%22US%22%7D%2C%22complexKeywordsRestriction%22%3A%7B%22keyword%22%3A%5B%7B%22type%22%3A%22BROAD%22%2C%22value%22%3A%22stocks%22%7D%5D%7D%7D%5D%2C%22requestOptions%22%3A%7B%22property%22%3A%22%22%2C%22backend%22%3A%22CM%22%2C%22category%22%3A0%7D%7D&token=APP6_UEAAAAAWxmOaSwlhHrJ0qdDSaXTYRtDy0PAG0sk&tz=420"

In [34]:
import re
def download_from_topic_token(topic, token):
    DOWNLOAD_URL = "https://trends.google.com/trends/api/widgetdata/multiline/csv?req=%7B%22time%22%3A%222018-06-06T18%5C%5C%3A59%5C%5C%3A06%202018-06-06T19%5C%5C%3A59%5C%5C%3A06%22%2C%22resolution%22%3A%22MINUTE%22%2C%22locale%22%3A%22en-US%22%2C%22comparisonItem%22%3A%5B%7B%22geo%22%3A%7B%22country%22%3A%22US%22%7D%2C%22complexKeywordsRestriction%22%3A%7B%22keyword%22%3A%5B%7B%22type%22%3A%22BROAD%22%2C%22value%22%3A%22" + topic + "%22%7D%5D%7D%7D%5D%2C%22requestOptions%22%3A%7B%22property%22%3A%22%22%2C%22backend%22%3A%22CM%22%2C%22category%22%3A0%7D%7D&token=" + token +"&tz=420"
    return DOWNLOAD_URL

def get_token(topic):
    response = requests.get(
        "https://trends.google.com/trends/api/explore?hl=en-US&tz=420&req=%7B%22comparisonItem%22:%5B%7B%22keyword%22:%22" + topic + "%22,%22geo%22:%22US%22,%22time%22:%22now+1-H%22%7D%5D,%22category%22:0,%22property%22:%22%22%7D&tz=420", cookies=cookies)
    finding_token = response.text.split("token")[1]

    t = re.sub('[^0-9a-zA-Z_]+', ' ', finding_token)
    gotcha = t.split()[0]
    return gotcha

In [35]:
requests.get(download_from_topic_token("stocks", get_token("stocks"))).text

'<!DOCTYPE html><html lang=en><meta charset=utf-8><meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width"><title>Error 401 (Not Found)!!1</title><style>*{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{color:#222;text-align:unset;margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px;}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}pre{white-space:pre-wrap;}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}</style><div id="af-error-container"><a href=//www.google.com><span id=logo aria-label=Google></span></a><p><b>401.</b> <ins>That’s an error.</ins><p>The requested URL was not found on this server. <ins>That’s all we know.</ins></div>'

In [42]:

gotcha = token_string[1:].split("&")[0]

### We got a token which is specific to our request. But I still dont know why it is working...

In [43]:
query["token"][0] = gotcha
query

{'req': [{'time': '2018-06-06T17\\:48\\:15 2018-06-06T18\\:48\\:15',
   'resolution': 'MINUTE',
   'locale': 'en-US',
   'comparisonItem': [{'geo': {'country': 'US'},
     'complexKeywordsRestriction': {'keyword': [{'type': 'BROAD',
        'value': 'banana'}]}}],
   'requestOptions': {'property': '', 'backend': 'CM', 'category': 0}}],
 'token': ['APP6_UEAAAAAWxmOaSwlhHrJ0qdDSaXTYRtDy0PAG0sk'],
 'tz': ['420']}

In [45]:
x = download_from_topic_token("banana", gotcha)
x

'https://trends.google.com/trends/api/widgetdata/multiline/csv?req=%7B%22time%22%3A%222018-06-06T18%5C%5C%3A59%5C%5C%3A06%202018-06-06T19%5C%5C%3A59%5C%5C%3A06%22%2C%22resolution%22%3A%22MINUTE%22%2C%22locale%22%3A%22en-US%22%2C%22comparisonItem%22%3A%5B%7B%22geo%22%3A%7B%22country%22%3A%22US%22%7D%2C%22complexKeywordsRestriction%22%3A%7B%22keyword%22%3A%5B%7B%22type%22%3A%22BROAD%22%2C%22value%22%3A%22banana%22%7D%5D%7D%7D%5D%2C%22requestOptions%22%3A%7B%22property%22%3A%22%22%2C%22backend%22%3A%22CM%22%2C%22category%22%3A0%7D%7D&token=APP6_UEAAAAAWxmOaSwlhHrJ0qdDSaXTYRtDy0PAG0sk&tz=420'

In [46]:
requests.get(x, cookies=cookies).text[-200:]

'r"><a href=//www.google.com><span id=logo aria-label=Google></span></a><p><b>401.</b> <ins>That’s an error.</ins><p>The requested URL was not found on this server. <ins>That’s all we know.</ins></div>'

In [47]:
urllib.parse.parse_qs(
    urllib.parse.urlparse(stocks).query
)

{'req': ['{"time":"2018-06-06T18\\\\:58\\\\:33 2018-06-06T19\\\\:58\\\\:33","resolution":"MINUTE","locale":"en-US","comparisonItem":[{"geo":{"country":"US"},"complexKeywordsRestriction":{"keyword":[{"type":"BROAD","value":"stocks"}]}}],"requestOptions":{"property":"","backend":"CM","category":0}}'],
 'token': ['APP6_UEAAAAAWxmOaSwlhHrJ0qdDSaXTYRtDy0PAG0sk'],
 'tz': ['420']}

In [48]:
urllib.parse.parse_qs(
    urllib.parse.urlparse(x).query
)

{'req': ['{"time":"2018-06-06T18\\\\:59\\\\:06 2018-06-06T19\\\\:59\\\\:06","resolution":"MINUTE","locale":"en-US","comparisonItem":[{"geo":{"country":"US"},"complexKeywordsRestriction":{"keyword":[{"type":"BROAD","value":"banana"}]}}],"requestOptions":{"property":"","backend":"CM","category":0}}'],
 'token': ['APP6_UEAAAAAWxmOaSwlhHrJ0qdDSaXTYRtDy0PAG0sk'],
 'tz': ['420']}