In [3]:
import numpy as np
import pandas as pd

In [4]:
# Load the pickled predictors
import pickle
predictors = pickle.load(open("predictors.pkl", "rb"))

#  Do we need to mess with this?
#  Recurrent Neural Networks for Multivariate Time Series with Missing Values
#  https://www.nature.com/articles/s41598-018-24271-9
predictors.head()

              gold  crude_oil  gas  bit_cap  futures_2  futures_10
Date
1985-01-02  306.25      25.92  NaN      NaN        NaN    78.62500
1985-01-03  299.50      25.84  NaN      NaN        NaN    79.06250
1985-01-04  303.45      25.18  NaN      NaN        NaN    78.84375
1985-01-07  296.75      25.56  NaN      NaN        NaN    79.84375
1985-01-08  304.40      25.48  NaN      NaN        NaN    80.00000

In [5]:
daily_stock = pickle.load(open("daily_stock.pkl", "rb"))
daily_stock[["AAPL"]]

Name            AAPL
date
2013-02-08   67.8542
2013-02-11   68.5614
2013-02-12   66.8428
2013-02-13   66.7156
2013-02-14   66.6556
2013-02-15   65.7371
2013-02-19   65.7128
2013-02-20   64.1214
2013-02-21   63.7228
2013-02-22   64.4014
2013-02-25   63.2571
2013-02-26   64.1385
2013-02-27   63.5099
2013-02-28   63.0571
2013-03-01   61.4957
2013-03-04   60.0071
2013-03-05   61.5919
2013-03-06   60.8088
2013-03-07   61.5117
2013-03-08   61.6742
2013-03-11   62.5528
2013-03-12   61.2042
2013-03-13   61.1928
2013-03-14   61.7857
2013-03-15   63.3799
2013-03-18   65.1028
2013-03-19   64.9271
2013-03-20   64.5828
2013-03-21   64.6756
2013-03-22   65.9871
...              ...
2017-12-26  170.5700
2017-12-27  170.6000
2017-12-28  171.0800
2017-12-29  169.2300
2018-01-02  172.2600
2018-01-03  172.2300
2018-01-04  173.0300
2018-01-05  175.0000
2018-01-08  174.3500
2018-01-09  174.3300
2018-01-10  174.2900
2018-01-11  175.2800
2018-01-12  177.0900
2018-01-16  176.1900
2018-01-17  179.1000
2018-01-18  179.2600
2018-01-19  178.4600
2018-01-22  177.0000
2018-01-23  177.0400
2018-01-24  174.2200
2018-01-25  171.1100
2018-01-26  171.5100
2018-01-29  167.9600
2018-01-30  166.9700
2018-01-31  167.4300
2018-02-01  167.7800
2018-02-02  160.5000
2018-02-05  156.4900
2018-02-06  163.0300
2018-02-07  159.5400

[1259 rows x 1 columns]

In [6]:
examine = predictors[["gold", "crude_oil", "futures_10"]].fillna(0.0)
examine = examine.merge(daily_stock[["AAPL"]],
             how="outer", 
    right_index = True, 
    left_index = True
)
examine[~examine.AAPL.isnull()]

               gold  crude_oil  futures_10      AAPL
2013-02-08  1669.75      95.72  130.578125   67.8542
2013-02-11  1663.50      97.03  130.546875   68.5614
2013-02-12  1641.75      97.51  130.281250   66.8428
2013-02-13  1648.00      97.01  130.000000   66.7156
2013-02-14  1644.00      97.31  130.406250   66.6556
2013-02-15  1629.25      95.86  130.390625   65.7371
2013-02-19  1613.50      96.66  130.187500   65.7128
2013-02-20  1602.00      94.46  130.312500   64.1214
2013-02-21  1568.50      92.84  130.625000   63.7228
2013-02-22  1580.00      93.13  130.734375   64.4014
2013-02-25  1592.50      93.11  131.343750   63.2571
2013-02-26  1597.25      92.63  131.531250   64.1385
2013-02-27  1608.50      92.76  131.437500   63.5099
2013-02-28  1591.00      92.05  131.546875   63.0571
2013-03-01  1570.00      90.68  131.781250   61.4957
2013-03-04  1578.00      90.12  131.625000   60.0071
2013-03-05  1584.25      90.82  131.531250   61.5919
2013-03-06  1574.00      90.43  131.203120   60.8088
2013-03-07  1580.50      91.56  130.718750   61.5117
2013-03-08  1577.00      91.95  130.218750   61.6742
2013-03-11  1577.50      92.06  130.218750   62.5528
2013-03-12  1582.50      92.54  130.484380   61.2042
2013-03-13  1591.50      92.52  130.468750   61.1928
2013-03-14  1585.00      93.03  130.484380   61.7857
2013-03-15  1593.25      93.45  130.890620   63.3799
2013-03-18  1599.50      93.74  131.203120   65.1028
2013-03-19  1602.50      92.16  131.562500   64.9271
2013-03-20  1611.50      92.96  130.546880   64.5828
2013-03-21  1608.75      92.45  130.562500   64.6756
2013-03-22  1611.50      93.71  130.609380   65.9871
...             ...        ...         ...       ...
2017-12-26     0.00      59.97  123.265625  170.5700
2017-12-27  1285.40      59.64  123.656250  170.6000
2017-12-28  1291.60      59.84  123.531250  171.0800
2017-12-29  1296.50      60.42  123.734375  169.2300
2018-01-02  1312.80      60.37  123.375000  172.2600
2018-01-03  1314.60      61.63  123.468750  172.2300
2018-01-04  1313.70      62.01  123.359375  173.0300
2018-01-05  1317.90      61.44  123.187500  175.0000
2018-01-08  1318.80      61.73  123.156250  174.3500
2018-01-09  1314.95      62.96  122.687500  174.3300
2018-01-10  1321.65      63.57  122.609375  174.2900
2018-01-11  1319.85      63.80  122.734375  175.2800
2018-01-12  1332.90      64.30  122.546875  177.0900
2018-01-16  1334.95      63.73  122.593750  176.1900
2018-01-17  1337.35      63.97  122.250000  179.1000
2018-01-18  1329.75      63.95  122.000000  179.2600
2018-01-19  1335.80      63.37  121.812500  178.4600
2018-01-22  1334.15      63.49  121.593750  177.0000
2018-01-23  1337.10      64.47  121.937500  177.0400
2018-01-24  1350.50      65.61  121.734375  174.2200
2018-01-25  1360.25      65.51  121.984375  171.1100
2018-01-26  1354.35      66.14  121.609375  171.5100
2018-01-29  1348.40      65.56  121.328125  167.9600
2018-01-30  1345.70      64.50  121.156250  166.9700
2018-01-31  1343.35      64.73  121.093750  167.4300
2018-02-01  1341.10      65.80  120.718750  167.7800
2018-02-02  1345.00      65.45  120.156250  160.5000
2018-02-05  1337.10      64.15  120.734375  156.4900
2018-02-06  1344.65      63.39  120.968750  163.0300
2018-02-07  1328.50      61.79  120.437500  159.5400

[1259 rows x 4 columns]

In [7]:
float_data = np.array()
print(len(float_data))

TypeError: Required argument 'object' (pos 1) not found

In [ ]:
def generator(data, lookback, delay, min_index, max_index,
              shuffle=False, batch_size=128, step=6):
    if max_index is None:
        max_index = len(data) - delay - 1
    i = min_index + lookback
    while 1:
        if shuffle:
            rows = np.random.randint(
                min_index + lookback, max_index, size=batch_size)
        else:
            if i + batch_size >= max_index:
                i = min_index + lookback
            rows = np.arange(i, min(i + batch_size, max_index))
            i += len(rows)

        samples = np.zeros((len(rows),
                            lookback // step,
                            data.shape[-1]))
        targets = np.zeros((len(rows),))
        for j, row in enumerate(rows):
            indices = range(rows[j] - lookback, rows[j], step)
            samples[j] = data[indices]
            targets[j] = data[rows[j] + delay][1]
        yield samples, targets

In [ ]:
# [ : val_slice : test_slice ]
val_slice = 800
test_slice = 1100


mean = float_data[:val_slice].mean(axis=0)
float_data -= mean
std = float_data[:val_slice].std(axis=0)
float_data /= std

float_data

In [ ]:
lookback = 5 # How many timesteps back the input data should go.
step = 1 # The period, in timesteps, at which you sample data. 
delay = 1 # How many timesteps in the future the target should be.
batch_size = 32 # Number big enough that it could be representatative of the whole 

train_gen = generator(float_data,
                        lookback=lookback,
                        delay=delay,
                        min_index=0,
                        max_index=val_slice,
                        shuffle=False,
                        step=step,
                        batch_size=batch_size)

val_gen = generator(float_data,
                        lookback=lookback,
                        delay=delay,
                        min_index=(val_slice+1),
                        max_index=test_slice,
                        step=step,
                        batch_size=batch_size)

test_gen = generator(float_data,
                        lookback=lookback,
                        delay=delay,
                        min_index=test_slice+1,
                        max_index=None,
                        step=step,
                        batch_size=batch_size)

val_steps = (test_slice - (val_slice+1) - lookback)
test_steps = (len(float_data) - (test_slice+1) - lookback)

In [ ]:
print(val_steps, test_steps)
float_data.shape[-1] # number of variables

In [ ]:
from keras.models import Sequential
from keras import layers
from keras.optimizers import RMSprop

In [ ]:
model = Sequential()
# Can replace GRU with RNN or LTSM for experimentation.
model.add(layers.GRU(16, input_shape=(None, float_data.shape[-1]),
                    recurrent_dropout = .5))
model.add(layers.Dropout(0.5))
model.add(layers.Dense(1))
model.compile(optimizer=RMSprop(), loss='mae')

In [ ]:
history = model.fit_generator(train_gen,
                            steps_per_epoch=16, # 
                            epochs=16, # passes through the training data
                            validation_data=val_gen,
                            validation_steps=val_steps,
                             verbose=1)

In [ ]:
% matplotlib inline
val_loss = history.history['val_loss']
epochs = range(1, len(val_loss) + 1)

import matplotlib.pyplot as plt
plt.plot(epochs, val_loss, 'b', label='Validation loss')